<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bonjour tout le monde !</h1>
     <div class="menu">
        <ul>
            <li>
                <a href="{% url 'notes:eleves' %}">Liste des élèves</a>
                
            </li>
            <li>
                <a href="{% url 'notes:matieres' %}">Liste des matières</a>
            </li>
        </ul>
    </div>
</body>
</html>